In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("terencicp/e-commerce-dataset-by-olist-as-an-sqlite-database")

print("Path to dataset files:", path)

c:\Users\Hosni\miniconda3\envs\myenv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/terencicp/e-commerce-dataset-by-olist-as-an-sqlite-database?dataset_version_number=1...

100%|██████████| 48.7M/48.7M [00:05<00:00, 8.69MB/s]

Extracting files...

Path to dataset files: C:\Users\Hosni\.cache\kagglehub\datasets\terencicp\e-commerce-dataset-by-olist-as-an-sqlite-database\versions\1

In [52]:
import kagglehub
import sqlite3
import pandas as pd

def load_data(kaggle_path, file_name):
    """
    Downloads the Olist e-commerce dataset from KaggleHub, connects to the SQLite database,
    retrieves table names, and loads data from specific tables into Pandas DataFrames.

    Returns:
        dict: A dictionary containing table names as keys and their corresponding DataFrames as values.
    """
    # Download the SQLite database
    path = kagglehub.dataset_download(kaggle_path)

    # Connect to the SQLite database
    sqlite_file = f"{path}/{file_name}"  # Update with the correct filename if needed
    conn = sqlite3.connect(sqlite_file)

    try:
        # List all tables in the database
        query = "SELECT name FROM sqlite_master WHERE type='table';"
        tables = pd.read_sql(query, conn)
        print("Available tables:", tables)

        table_names = tables.iloc[:, 0].values
        # Load data from each table into a dictionary of DataFrames
        dataframes = {}
        for table in table_names:
            globals()[table] = pd.read_sql(f"SELECT * FROM {table};", conn)
            dataframes[table] = globals()[table]  # Store DataFrame in the dictionary
        
        print(f"Created the {len(table_names)} following dataframes: {table_names}")
    finally:
        # Close the connection
        conn.close()
    return dataframes

# Example usage:
dataframes = load_data(kaggle_path="terencicp/e-commerce-dataset-by-olist-as-an-sqlite-database", file_name="olist.sqlite")

Available tables:                                  name
0   product_category_name_translation
1                             sellers
2                           customers
3                         geolocation
4                         order_items
5                      order_payments
6                       order_reviews
7                              orders
8                            products
9                     leads_qualified
10                       leads_closed
Created the 11 following dataframes: ['product_category_name_translation' 'sellers' 'customers' 'geolocation'
 'order_items' 'order_payments' 'order_reviews' 'orders' 'products'
 'leads_qualified' 'leads_closed']

{'product_category_name_translation':             product_category_name product_category_name_english
 0                    beleza_saude                 health_beauty
 1          informatica_acessorios         computers_accessories
 2                      automotivo                          auto
 3                 cama_mesa_banho                bed_bath_table
 4                moveis_decoracao               furniture_decor
 ..                            ...                           ...
 66                         flores                       flowers
 67             artes_e_artesanato         arts_and_craftmanship
 68                fraldas_higiene           diapers_and_hygiene
 69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
 70             seguros_e_servicos         security_and_services

 [71 rows x 2 columns],
 'sellers':                              seller_id  seller_zip_code_prefix  \
 0     3442f8959a84dea7ee197c632cb2df15                   13023
 1     d1b65fc7debc3361ea86b5f14c68d2e2                   13844
 2     ce3ad9de960102d0677a81f5d0bb7b2d                   20031
 3     c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
 4     51a04a8a6bdcb23deccc82b0b80742cf                   12914
 ...                                ...                     ...
 3090  98dddbc4601dd4443ca174359b237166                   87111
 3091  f8201cab383e484733266d1906e2fdfa                   88137
 3092  74871d19219c7d518d0090283e03c137                    4650
 3093  e603cf3fec55f8697c9059638d6c8eb5                   96080
 3094  9e25199f6ef7e7c347120ff175652c3b                   12051

             seller_city seller_state
 0              campinas           SP
 1            mogi guacu           SP
 2        rio de janeiro           RJ
 3             sao paulo           SP
 4     braganca paulista           SP
 ...                 ...          ...
 3090            sarandi           PR
 3091            palhoca           SC
 3092          sao paulo           SP
 3093            pelotas           RS
 3094            taubate           SP

 [3095 rows x 4 columns],
 'customers':                             customer_id                customer_unique_id  \
 0      06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
 1      18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
 2      4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
 3      b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
 4      4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066
 ...                                 ...                               ...
 99436  17ddf5dd5d51696bb3d7c6291687be6f  1a29b476fee25c95fbafc67c5ac95cf8
 99437  e7b71a9017aa05c9a7fd292d714858e8  d52a67c98be1cf6a5c84435bd38d095d
 99438  5e28dfe12db7fb50a4b2f691faecea5e  e9f50caf99f032f0bf3c55141f019d99
 99439  56b18e2166679b8a959d72dd06da27f9  73c2643a0a458b49f58cea58833b192e
 99440  274fa6071e5e17fe303b9748641082c8  84732c5050c01db9b23e19ba39899398

        customer_zip_code_prefix          customer_city customer_state
 0                         14409                 franca             SP
 1                          9790  sao bernardo do campo             SP
 2                          1151              sao paulo             SP
 3                          8775        mogi das cruzes             SP
 4                         13056               campinas             SP
 ...                         ...                    ...            ...
 99436                      3937              sao paulo             SP
 99437                      6764        taboao da serra             SP
 99438                     60115              fortaleza             CE
 99439                     92120                 canoas             RS
 99440                      6703                  cotia             SP

 [99441 rows x 5 columns],
 'geolocation':          geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
 0                               1037       -23.545621       -46.639292
 1                               1046       -23.546081       -46.644820
 2                               1046       -23.546129       -46.642951
 3                               1041       -23.544392       -46.639499
 4                               1035       -23.541578       -46.641607
 ...                              ...              ...              ...
 1000158                        99950       -28.068639       -52.010705
 1000159                        99900       -27.877125       -52.224882
 1000160                        99950       -28.071855       -52.014716
 1000161                        99980       -28.388932       -51.846871
 1000162                        99950       -28.070104       -52.018658

         geolocation_city geolocation_state
 0              sao paulo                SP
 1              sao paulo                SP
 2              sao paulo                SP
 3              sao paulo                SP
 4              sao paulo                SP
 ...                  ...               ...
 1000158         tapejara                RS
 1000159   getulio vargas                RS
 1000160         tapejara                RS
 1000161  david canabarro                RS
 1000162         tapejara                RS

 [1000163 rows x 5 columns],
 'order_items':                                 order_id  order_item_id  \
 0       00010242fe8c5a6d1ba2dd792cb16214              1
 1       00018f77f2f0320c557190d7a144bdd3              1
 2       000229ec398224ef6ca0657da4fc703e              1
 3       00024acbcdf0a6daa1e931b038114c75              1
 4       00042b26cf59d7ce69dfabb4e55b4fd9              1
 ...                                  ...            ...
 112645  fffc94f6ce00a00581880bf54a75a037              1
 112646  fffcd46ef2263f404302a634eb57f7eb              1
 112647  fffce4705a9662cd70adb13d4a31832d              1
 112648  fffe18544ffabc95dfada21779c9644f              1
 112649  fffe41c64501cc87c801fd61db3f6244              1

                               product_id                         seller_id  \
 0       4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
 1       e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
 2       c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
 3       7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
 4       ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87
 ...                                  ...                               ...
 112645  4aa6014eceb682077f9dc4bffebc05b0  b8bc237ba3788b23da09c0f1f3a3288c
 112646  32e07fd915822b0765e448c4dd74c828  f3c38ab652836d21de61fb8314b69182
 112647  72a30483855e2eafc67aee5dc2560482  c3cfdc648177fdbbbb35635a37472c53
 112648  9c422a519119dcad7575db5af1ba540e  2b3e4a2a3ea8e01938cabda2a3e5cc79
 112649  350688d9dc1e75ff97be326363655e01  f7ccf836d21b2fb1de37564105216cc1

         shipping_limit_date   price  freight_value
 0       2017-09-19 09:45:35   58.90          13.29
 1       2017-05-03 11:05:13  239.90          19.93
 2       2018-01-18 14:48:30  199.00          17.87
 3       2018-08-15 10:10:18   12.99          12.79
 4       2017-02-13 13:57:51  199.90          18.14
 ...                     ...     ...            ...
 112645  2018-05-02 04:11:01  299.99          43.41
 112646  2018-07-20 04:31:48  350.00          36.53
 112647  2017-10-30 17:14:25   99.90          16.95
 112648  2017-08-21 00:04:32   55.99           8.72
 112649  2018-06-12 17:10:13   43.00          12.79

 [112650 rows x 7 columns],
 'order_payments':                                 order_id  payment_sequential payment_type  \
 0       b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
 1       a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
 2       25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
 3       ba78997921bbcdc1373bb41e913ab953                   1  credit_card
 4       42fdf880ba16b47b59251dd489d4441a                   1  credit_card
 ...                                  ...                 ...          ...
 103881  0406037ad97740d563a178ecc7a2075c                   1       boleto
 103882  7b905861d7c825891d6347454ea7863f                   1  credit_card
 103883  32609bbb3dd69b3c066a6860554a77bf                   1  credit_card
 103884  b8b61059626efa996a60be9bb9320e10                   1  credit_card
 103885  28bbae6599b09d39ca406b747b6632b1                   1       boleto

         payment_installments  payment_value
 0                          8          99.33
 1                          1          24.39
 2                          1          65.71
 3                          8         107.78
 4                          2         128.45
 ...                      ...            ...
 103881                     1         363.31
 103882                     2          96.80
 103883                     1          47.77
 103884                     5         369.54
 103885                     1         191.58

 [103886 rows x 5 columns],
 'order_reviews':                               review_id                          order_id  \
 0      7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
 1      80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
 2      228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
 3      e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
 4      f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1
 ...                                 ...                               ...
 99219  574ed12dd733e5fa530cfd4bbf39d7c9  2a8c23fee101d4d5662fa670396eb8da
 99220  f3897127253a9592a73be9bdfdf4ed7a  22ec9f0669f784db00fa86d035cf8602
 99221  b3de70c89b1510c4cd3d0649fd302472  55d4004744368f5571d1f590031933e4
 99222  1adeb9d84d72fe4e337617733eb85149  7725825d039fc1f0ceb7635e3f7d9206
 99223  efe49f1d6f951dd88b51e6ccd4cc548f  90531360ecb1eec2a1fbb265a0db0508

        review_score review_comment_title  \
 0                 4                 None
 1                 5                 None
 2                 5                 None
 3                 5                 None
 4                 5                 None
 ...             ...                  ...
 99219             5                 None
 99220             5                 None
 99221             5                 None
 99222             4                 None
 99223             1                 None

                                   review_comment_message review_creation_date  \
 0                                                   None  2018-01-18 00:00:00
 1                                                   None  2018-03-10 00:00:00
 2                                                   None  2018-02-17 00:00:00
 3                  Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
 4      Parabéns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00
 ...                                                  ...                  ...
 99219                                               None  2018-07-07 00:00:00
 99220                                               None  2017-12-09 00:00:00
 99221  Excelente mochila, entrega super rápida. Super...  2018-03-22 00:00:00
 99222                                               None  2018-07-01 00:00:00
 99223  meu produto chegou e ja tenho que devolver, po...  2017-07-03 00:00:00

       review_answer_timestamp
 0         2018-01-18 21:46:59
 1         2018-03-11 03:05:13
 2         2018-02-18 14:36:24
 3         2017-04-21 22:02:06
 4         2018-03-02 10:26:53
 ...                       ...
 99219     2018-07-14 17:18:30
 99220     2017-12-11 20:06:42
 99221     2018-03-23 09:10:43
 99222     2018-07-02 12:59:13
 99223     2017-07-03 21:01:49

 [99224 rows x 7 columns],
 'orders':                                order_id                       customer_id  \
 0      e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
 1      53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
 2      47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
 3      949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
 4      ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c
 ...                                 ...                               ...
 99436  9c5dedf39a927c1b2549525ed64a053c  39bd1228ee8140590ac3aca26f2dfe00
 99437  63943bddc261676b46f01ca7ac2f7bd8  1fca14ff2861355f6e5f14306ff977a7
 99438  83c1379a015df1e13d02aae0204711ab  1aa71eb042121263aafbe80c1b562c9c
 99439  11c177c8e97725db2631073c19f07b62  b331b74b18dc79bcdf6532d51e1637c1
 99440  66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24

       order_status order_purchase_timestamp    order_approved_at  \
 0        delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
 1        delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
 2        delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
 3        delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
 4        delivered      2018-02-13 21:18:39  2018-02-13 22:20:29
 ...            ...                      ...                  ...
 99436    delivered      2017-03-09 09:54:05  2017-03-09 09:54:05
 99437    delivered      2018-02-06 12:58:58  2018-02-06 13:10:37
 99438    delivered      2017-08-27 14:46:43  2017-08-27 15:04:16
 99439    delivered      2018-01-08 21:28:27  2018-01-08 21:36:21
 99440    delivered      2018-03-08 20:57:30  2018-03-09 11:20:28

       order_delivered_carrier_date order_delivered_customer_date  \
 0              2017-10-04 19:55:00           2017-10-10 21:25:13
 1              2018-07-26 14:31:00           2018-08-07 15:27:45
 2              2018-08-08 13:50:00           2018-08-17 18:06:29
 3              2017-11-22 13:39:59           2017-12-02 00:28:42
 4              2018-02-14 19:46:34           2018-02-16 18:17:02
 ...                            ...                           ...
 99436          2017-03-10 11:18:03           2017-03-17 15:08:01
 99437          2018-02-07 23:22:42           2018-02-28 17:37:56
 99438          2017-08-28 20:52:26           2017-09-21 11:24:17
 99439          2018-01-12 15:35:03           2018-01-25 23:32:54
 99440          2018-03-09 22:11:59           2018-03-16 13:08:30

       order_estimated_delivery_date
 0               2017-10-18 00:00:00
 1               2018-08-13 00:00:00
 2               2018-09-04 00:00:00
 3               2017-12-15 00:00:00
 4               2018-02-26 00:00:00
 ...                             ...
 99436           2017-03-28 00:00:00
 99437           2018-03-02 00:00:00
 99438           2017-09-27 00:00:00
 99439           2018-02-15 00:00:00
 99440           2018-04-03 00:00:00

 [99441 rows x 8 columns],
 'products':                              product_id              product_category_name  \
 0      1e9e8ef04dbcff4541ed26657ea517e5                         perfumaria
 1      3aa071139cb16b67ca9e5dea641aaa2f                              artes
 2      96bd76ec8810374ed1b65e291975717f                      esporte_lazer
 3      cef67bcfe19066a932b7673e239eb23d                              bebes
 4      9dc1a7de274444849c219cff195d0b71              utilidades_domesticas
 ...                                 ...                                ...
 32946  a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao
 32947  bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao
 32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho
 32949  83808703fc0706a22e264b9d75f04a2e             informatica_acessorios
 32950  106392145fca363410d287a815be6de4                    cama_mesa_banho

        product_name_lenght  product_description_lenght  product_photos_qty  \
 0                     40.0                       287.0                 1.0
 1                     44.0                       276.0                 1.0
 2                     46.0                       250.0                 1.0
 3                     27.0                       261.0                 1.0
 4                     37.0                       402.0                 4.0
 ...                    ...                         ...                 ...
 32946                 45.0                        67.0                 2.0
 32947                 41.0                       971.0                 1.0
 32948                 50.0                       799.0                 1.0
 32949                 60.0                       156.0                 2.0
 32950                 58.0                       309.0                 1.0

        product_weight_g  product_length_cm  product_height_cm  \
 0                 225.0               16.0               10.0
 1                1000.0               30.0               18.0
 2                 154.0               18.0                9.0
 3                 371.0               26.0                4.0
 4                 625.0               20.0               17.0
 ...                 ...                ...                ...
 32946           12300.0               40.0               40.0
 32947            1700.0               16.0               19.0
 32948            1400.0               27.0                7.0
 32949             700.0               31.0               13.0
 32950            2083.0               12.0                2.0

        product_width_cm
 0                  14.0
 1                  20.0
 2                  15.0
 3                  26.0
 4                  13.0
 ...                 ...
 32946              40.0
 32947              16.0
 32948              27.0
 32949              20.0
 32950               7.0

 [32951 rows x 9 columns],
 'leads_qualified':                                 mql_id first_contact_date  \
 0     dac32acd4db4c29c230538b72f8dd87d         2018-02-01
 1     8c18d1de7f67e60dbd64e3c07d7e9d5d         2017-10-20
 2     b4bc852d233dfefc5131f593b538befa         2018-03-22
 3     6be030b81c75970747525b843c1ef4f8         2018-01-22
 4     5420aad7fec3549a85876ba1c529bd84         2018-02-21
 ...                                ...                ...
 7995  feaba3ffcd2ff97501696c7f9a42f41c         2018-05-22
 7996  a79cb53cd009ab92e0143b92baa2407b         2018-03-27
 7997  68f049a23ab109c6a0f6989bb9a02994         2017-08-27
 7998  4f8c96e2509b984329044c6682c88ee9         2017-10-06
 7999  8a6492305a5fbcdcdd1a7f5a90764c07         2018-01-11

                        landing_page_id          origin
 0     88740e65d5d6b056e0cda098e1ea6313          social
 1     007f9098284a86ee80ddeb25d53e0af8     paid_search
 2     a7982125ff7aa3b2054c6e44f9d28522  organic_search
 3     d45d558f0daeecf3cccdffe3c59684aa           email
 4     b48ec5f3b04e9068441002a19df93c6c  organic_search
 ...                                ...             ...
 7995  e42a14209c69c3e9cc6b042620465f12     paid_search
 7996  c494978688ccf66ad9fad3d6a3338c22     paid_search
 7997  b48ec5f3b04e9068441002a19df93c6c  organic_search
 7998  a56671a54260a44923d32c2f08fad39c  organic_search
 7999  b76ef37428e6799c421989521c0e5077  direct_traffic

 [8000 rows x 4 columns],
 'leads_closed':                                mql_id                         seller_id  \
 0    5420aad7fec3549a85876ba1c529bd84  2c43fb513632d29b3b58df74816f1b06
 1    a555fb36b9368110ede0f043dfc3b9a0  bbb7d7893a450660432ea6652310ebb7
 2    327174d3648a2d047e8940d7d15204ca  612170e34b97004b3ba37eae81836b4c
 3    f5fee8f7da74f4887f5bcae2bafb6dd6  21e1781e36faf92725dde4730a88ca0f
 4    ffe640179b554e295c167a2f6be528e0  ed8cb7b190ceb6067227478e48cf8dde
 ..                                ...                               ...
 837  df9a2abe2ad3f2d8758b675ac8331ecf  bfcc27719640628da877db48b672b169
 838  8723201570415eb23b4f095d8c20a27c  4a82eab98441aeb64566e2776c1fb2b6
 839  2e57665b8faf05c967a801eb5aedfa0a  55031883943971ca22db6894574cfe2c

In [58]:
def dataset_exploration(df, df_name):
    total_nulls = df.isnull().sum().sum()
    num_duplicated = df.duplicated().sum()

    print(f"Look into {df_name} table:")
    print(f"\nThis dataframe contains {df.shape[0]} rows and {df.shape[1]} columns.")
    print(f"\nThis dataframe contains the following columns: {df.columns.tolist()}")
    print(f"\nThis dataframe contains {total_nulls} null values.")
    print(f"\nThis dataframe contains {num_duplicated} duplicated rows.")
    print("_"*30)

In [61]:
for name, table in dataframes.items():
    dataset_exploration(table, name)

Look into product_category_name_translation table:

This dataframe contains 71 rows and 2 columns.

This dataframe contains the following columns: ['product_category_name', 'product_category_name_english']

This dataframe contains 0 null values.

This dataframe contains 0 duplicated rows.
______________________________
Look into sellers table:

This dataframe contains 3095 rows and 4 columns.

This dataframe contains the following columns: ['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']

This dataframe contains 0 null values.

This dataframe contains 0 duplicated rows.
______________________________
Look into customers table:

This dataframe contains 99441 rows and 5 columns.

This dataframe contains the following columns: ['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

This dataframe contains 0 null values.

This dataframe contains 0 duplicated rows.
______________________________
Look into geolocation table:

This dataframe contains 1000163 rows and 5 columns.

This dataframe contains the following columns: ['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']

This dataframe contains 0 null values.

This dataframe contains 261831 duplicated rows.
______________________________
Look into order_items table:

This dataframe contains 112650 rows and 7 columns.

This dataframe contains the following columns: ['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']

This dataframe contains 0 null values.

This dataframe contains 0 duplicated rows.
______________________________
Look into order_payments table:

This dataframe contains 103886 rows and 5 columns.

This dataframe contains the following columns: ['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']

This dataframe contains 0 null values.

This dataframe contains 0 duplicated rows.
______________________________
Look into order_reviews table:

This dataframe contains 99224 rows and 7 columns.

This dataframe contains the following columns: ['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']

This dataframe contains 145903 null values.

This dataframe contains 0 duplicated rows.
______________________________
Look into orders table:

This dataframe contains 99441 rows and 8 columns.

This dataframe contains the following columns: ['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

This dataframe contains 4908 null values.

This dataframe contains 0 duplicated rows.
______________________________
Look into products table:

This dataframe contains 32951 rows and 9 columns.

This dataframe contains the following columns: ['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

This dataframe contains 2448 null values.

This dataframe contains 0 duplicated rows.
______________________________
Look into leads_qualified table:

This dataframe contains 8000 rows and 4 columns.

This dataframe contains the following columns: ['mql_id', 'first_contact_date', 'landing_page_id', 'origin']

This dataframe contains 60 null values.

This dataframe contains 0 duplicated rows.
______________________________
Look into leads_closed table:

This dataframe contains 842 rows and 14 columns.

This dataframe contains the following columns: ['mql_id', 'seller_id', 'sdr_id', 'sr_id', 'won_date', 'business_segment', 'lead_type', 'lead_behaviour_profile', 'has_company', 'has_gtin', 'average_stock', 'business_type', 'declared_product_catalog_size', 'declared_monthly_revenue']

This dataframe contains 3300 null values.

This dataframe contains 0 duplicated rows.
______________________________

#### We won't be using leads_closed and leads_qualified tables so we won't be looking into them for the next steps.
#### The following needs to be looked at:
- 261831 duplicated rows on the geolocation table.
- 145903 null values on the order_reviews table.
- 4908 null values on the orders table.
- 2448 null values on the products table.

### Table Cleaning: Geolocation

In [63]:
duplicated_geolocation = geolocation[geolocation.duplicated()]
print(f"\nDuplicated rows in geolocation table:")
duplicated_geolocation

Duplicated rows in geolocation table:

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
15,1046,-23.546081,-46.644820,sao paulo,SP
44,1046,-23.546081,-46.644820,sao paulo,SP
65,1046,-23.546081,-46.644820,sao paulo,SP
66,1009,-23.546935,-46.636588,sao paulo,SP
67,1046,-23.546081,-46.644820,sao paulo,SP
...,...,...,...,...,...
1000153,99970,-28.343273,-51.873734,ciriaco,RS
1000154,99950,-28.070493,-52.011342,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [64]:
### Removing Duplicates
geolocation_cleaned = geolocation.drop_duplicates()
print(f"Removed {geolocation.shape[0] - geolocation_cleaned.shape[0]} duplicated rows.")

Removed 261831 duplicated rows.

_______________________________________

### Table Cleaning: Order Reviews

In [65]:
null_rows_order_reviews = order_reviews[order_reviews.isnull().any(axis=1)]
print(f"\nRows with null values in order_reviews table:")
null_rows_order_reviews

Rows with null values in order_reviews table:

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,None,None,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,None,None,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,None,None,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,None,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,None,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53
...,...,...,...,...,...,...,...
99219,574ed12dd733e5fa530cfd4bbf39d7c9,2a8c23fee101d4d5662fa670396eb8da,5,None,None,2018-07-07 00:00:00,2018-07-14 17:18:30
99220,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,None,None,2017-12-09 00:00:00,2017-12-11 20:06:42
99221,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,None,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43
99222,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,None,None,2018-07-01 00:00:00,2018-07-02 12:59:13
99223,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,None,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49

##### The null values are mainly situated in the title and the message, which is totally fine, since those are values we won't be needing in the future unless we are going to do NLP which we are not. -> We drop the columns.

In [67]:
### Dropping Irrelevant Columns
order_reviews_cleaned = order_reviews.drop(columns=['review_comment_title', 'review_comment_message'])
print(f"{order_reviews_cleaned.isnull().sum().sum()} null values remaining.")

0 null values remaining.

_______________________________________________

### Table Cleaning: Orders

In [70]:
null_rows_orders = orders[orders.isnull().any(axis=1)]
print(f"\nRows with null values in orders table:")
null_rows_orders

Rows with null values in orders table:

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,None,None,2017-05-09 00:00:00
44,ee64d42b8cf066f35eac1cf57de1aa85,caded193e8e47b8362864762a83db3c5,shipped,2018-06-04 16:44:48,2018-06-05 04:31:18,2018-06-05 14:32:00,None,2018-06-28 00:00:00
103,0760a852e4e9d89eb77bf631eaaf1c84,d2a79636084590b7465af8ab374a8cf5,invoiced,2018-08-03 17:44:42,2018-08-07 06:15:14,None,None,2018-08-21 00:00:00
128,15bed8e2fec7fdbadb186b57c46c92f2,f3f0e613e0bdb9c7cee75504f0f90679,processing,2017-09-03 14:22:03,2017-09-03 14:30:09,None,None,2017-10-03 00:00:00
154,6942b8da583c2f9957e990d028607019,52006a9383bf149a4fb24226b173106f,shipped,2018-01-10 11:33:07,2018-01-11 02:32:30,2018-01-11 19:39:23,None,2018-02-07 00:00:00
...,...,...,...,...,...,...,...,...
99283,3a3cddda5a7c27851bd96c3313412840,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,None,None,None,2018-10-01 00:00:00
99313,e9e64a17afa9653aacf2616d94c005b8,b4cd0522e632e481f8eaf766a2646e86,processing,2018-01-05 23:07:24,2018-01-09 07:18:05,None,None,2018-02-06 00:00:00
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,None,None,None,2018-09-27 00:00:00
99348,a69ba794cc7deb415c3e15a0a3877e69,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,None,None,2017-09-15 00:00:00
99415,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,None,None,2017-10-23 00:00:00

In [72]:
### Dropping Irrelevant Columns
orders_cleaned = orders.drop(columns=['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date'])
print(f"{orders_cleaned.isnull().sum().sum()} null values remaining.")

0 null values remaining.

______________________________________________________

### Table Cleaning: Product

In [73]:
null_rows_products = products[products.isnull().any(axis=1)]
print(f"\nRows with null values in order_reviews table:")
null_rows_products

Rows with null values in order_reviews table:

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,None,NaN,NaN,NaN,650.0,17.0,14.0,12.0
128,d8dee61c2034d6d075997acef1870e9b,None,NaN,NaN,NaN,300.0,16.0,7.0,20.0
145,56139431d72cd51f19eb9f7dae4d1617,None,NaN,NaN,NaN,200.0,20.0,20.0,20.0
154,46b48281eb6d663ced748f324108c733,None,NaN,NaN,NaN,18500.0,41.0,30.0,41.0
197,5fb61f482620cb672f5e586bb132eae9,None,NaN,NaN,NaN,300.0,35.0,7.0,12.0
...,...,...,...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,None,NaN,NaN,NaN,1800.0,30.0,20.0,70.0
32589,10dbe0fbaa2c505123c17fdc34a63c56,None,NaN,NaN,NaN,800.0,30.0,10.0,23.0
32616,bd2ada37b58ae94cc838b9c0569fecd8,None,NaN,NaN,NaN,200.0,21.0,8.0,16.0
32772,fa51e914046aab32764c41356b9d4ea4,None,NaN,NaN,NaN,1300.0,45.0,16.0,45.0
32852,c4ceee876c82b8328e9c293fa0e1989b,None,NaN,NaN,NaN,700.0,28.0,3.0,43.0

##### Products with no category or description whatsoever are not relevant to our analysis since they offer no insight.

In [77]:
### Dropping Null values
products_cleaned = products.dropna(subset=['product_category_name'])
print(f"{products_cleaned.isnull().sum().sum()} null values remaining.")

4 null values remaining.

In [80]:
null_rows_products = products_cleaned[products_cleaned.isnull().any(axis=1)]
null_rows_products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
8578,09ff539a621711667c43eba6a3bd8466,bebes,60.0,865.0,3.0,NaN,NaN,NaN,NaN

### The data is now ready to be worked on.

In [88]:
# Exporting the data to CSV files
seller.to_csv('data_output/seller.csv', index=False)
products_cleaned.to_csv('data_output/products.csv', index=False)
orders_cleaned.to_csv('data_output/orders.csv', index=False)
order_reviews_cleaned.to_csv('data_output/order_reviews.csv', index=False)
geolocation_cleaned.to_csv('data_output/geolocation.csv', index=False)
order_items.to_csv('data_output/order_items.csv', index=False)
order_payments.to_csv('data_output/order_payments.csv', index=False)
customers.to_csv('data_output/customers.csv', index=False)

In [84]:
table_names

array(['product_category_name_translation', 'sellers', 'customers',
       'geolocation', 'order_items', 'order_payments', 'order_reviews',
       'orders', 'products', 'leads_qualified', 'leads_closed'],
      dtype=object)